.social-container {
	margin: 20px 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}