.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

@media (max-width: 768px) {
  .sign-in-container{
      width: 100%;
      left: 0;
      height: 50%;
      z-index: 2;
      top: 0; 
  }
}